body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.background-image {
    background-image: url(images/donation1.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}

.who {
    font-size: 40px;
    color: black;
}



.banner-story {
    background: url(images/donation12.png) no-repeat;
    background-position-x: 40%;
    position: relative;
    padding: 90px 0;
    color: #fff;
    background-size: cover;
    margin: 0;

}

}

.banner-story h2 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0.79px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 100;
}

.banner-story h2 strong {
    font-weight: bold;
}

.banner-story p {
    letter-spacing: 1px;
    line-height: 24px;
}





.color {
    color: white;
}

.link-button {
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}

.today {
    text-align: center;
    margin-top: 100px;

}

.one-two {
    font-size: 50px;
}

.two-one {
    font-size: 20px;
}

section {

    margin-bottom: 100px;
}

.other {
    text-align: center;

}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.ammount {
    text-align: center;
}

.now {
    text-align: center;
}

.plan {
    text-align: center;
    margin-top: 100px;
}

.life {
    font-size: 50px;
}

section {
    display: flex;
    margin-top: 100px;
}

.half-width {
    width: 33.33%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 7%;
}

.food {
    background-color: beige;
}

.shelter {
    background-color: aquamarine;
}

.frame {
    background-color: antiquewhite;
}

.how-to-contribute {
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}

.poor {
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 3%;
    margin-right: 5%;


}

.poor img {
    width: 100%;
}

.well {
    margin-top: 150px;
}

.update {
    text-align: center;
}

.step {
    font-size: 50px;
}

.sub {
    color: white;
    background-color: red;
}

.email {
    text-align: center;
    background-color: burlywood;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.be {
    text-align: center;
    background-color: black;
}

.hum {
    color: red;
    font-size: 40px;
}

.do {
    color: white;
}